<select tr="{{tr}}" td="{{td}}" half="{{half}}" class="dent_state">
    <option selected></option>
    <option value="О">O</option>
    <option value="R">R</option>
    <option value="C">C</option>
    <option value="P">P</option>
    <option value="Pt">Pt</option>
    <option value="П">П</option>
    <option value="A">A</option>
    <option value="K">K</option>
    <option value="И">И</option>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
</select>