body {
    display: flex;
    overflow: hidden;
    height: 100%;
    width: 100%;
    margin: 0;
}

main {
    background-color: rgb(243, 243, 243);
    overflow: hidden;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.calendar {
    overflow-y: scroll;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
}
.dates {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    padding-left: 35px;
    padding-right: 15px;/*scrollbar width*/
    border-bottom: 1px solid darkgrey;
    height: 50px;
}
.date {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: calc(100% / 7);
    border: 1px solid transparent;
    border-left: 1px solid darkgrey;
    font-size: 14px;
}
.day {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: calc((100% - 35px) / 7);
}
.times {
    width: 35px;
    display: flex;
    flex-direction: column;
    justify-content: start;
}
.time {
    font-size: 10px;
    color: #70757a;
    height: 50px;
    border-bottom: 1px solid darkgrey;
    padding: 2px;
}
.slot {
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50px;
    border-bottom: 1px solid darkgrey;
    border-left: 1px solid darkgrey;
    cursor: pointer;
}
.box {
    cursor: pointer;
    margin: 0;
    /*height: 100%;*/
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.slot.disabled {
    cursor: not-allowed;
    background-color: rgb(244, 177, 176);
}