<html>
    <head>
        <title>Расписание</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/style.css?"/>
        <link rel="stylesheet" href="css/dent.css?"/>
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <style>
            .day, .times {
                height: calc(50px * {{times_size}});
            }
        </style>
    </head>
    <body>
        <nav>
            <button id="prev" onclick="load_prev();">Previous period</button>
            <button id="next" onclick="load_next();">Next period</button>
            Month calendar
        </nav>
        <main>
            <div class="dates" id="dates">
                {{#each dates}}
                    {{{this}}}
                {{/each}}
            </div>
            <div class="calendar" id="calendar">
                <div id="times" class="times">
                    {{#each times}}
                        {{{this}}}
                    {{/each}}
                </div>
                {{{slots}}}
            </div>
        </main>
    </body>
    <script type="text/javascript">
        function load_prev() {

        }

        function load_next() {

        }
    </script>
</html>